<div>
  <div style="position: static;">
    <app-header [isShow]="isShow" [isExpand]="isExpand" (showSidenav)="showSidenav($event)"></app-header>
  </div>

  <div style="display: flex;">
    <div (mouseenter)="show()" (mouseleave)="hide()">
      <mat-drawer-container autosize style="height: 100vh;">
        <mat-drawer #drawer mode="side" opened="true" [style.width]="isExpand ? '9.8rem' : '4.4rem'"
          [style.min-width]="collapse ? '9.8rem' : '4.4rem'">
          <div style="padding: 5px;">
            <div style="padding: 12px; margin-bottom: 5px;" routerLink="/home" routerLinkActive="active-link">
              <mat-icon style="position: relative;
                top: 5px;
                margin-right: 7px;">home</mat-icon>
              <label *ngIf="isShow">Home</label>
            </div>
            <div style="padding: 12px;" routerLink="/employee" routerLinkActive="active-link">
              <mat-icon style="    position: relative;
                top: 5px;
                margin-right: 7px;">person</mat-icon>
              <label *ngIf="isShow">Employee</label>
            </div>
          </div>
        </mat-drawer>
      </mat-drawer-container>
    </div>
    <div style="height: 100vh; width: 100vw; overflow: hidden;">
          <router-outlet></router-outlet>
    </div>
  </div>
</div>